body {
    background: rgb(123, 112, 211);
    background: linear-gradient(-45deg, rgba(123, 112, 211, 1) 0%, rgba(201, 145, 207, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;

}

.wrap {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;
}

.user {
    width: 395px;
    height: 500px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 170px;
    height: 170px;
    border-radius: 200px;
    margin-bottom: 24px;
}


.userName {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #2F2F2F;
}


.userId {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #7B7C83;
    margin: 12px;
}


.btn {
    width: 220px;
    height: 60px;
    background-color: #7B70D3;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn:hover {
    background-color: #574F90;
}
