body {
    background-color: #EEF5FF !important;
    font-family: 'Roboto', sans-serif;
}

.wrap {
    margin: 0 auto;
    width: 1400px;
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;

}

.user {
    width: 600px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.10);
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.10);
    border-radius: 6px;
    padding: 45px 36px;
    box-sizing: border-box;

}

.user__title {
    color: #282828;
    font-weight: 500;
    font-size: 30px;

}
.btn {
    margin: 10px 0 ;

}